body {
    line-height: 10px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

div {
    width: 100%;
    height: auto;
    position: relative;
    text-align: center;
}

.box-1 {
    display: block;
    position: absolute;
    padding: 60, 60;
    whidth: 40px;
        20px
    background-color: aqua;
    left: 30px;
}




