nav {
  background-color: rgba(0, 255, 255, 0.509);
  position: relative;
  overflow: hidden;
  width: 100%;
  text-align: center;
  font-size: medium;
  z-index: 1;
  box-shadow: 0 5px 0 #61c1e7;
}

nav a {
  color: black;
  text-decoration: none;
  display: block;
  float: left;
  padding: 14px 20px;
  font-weight: 1000;
}

nav a:hover {
  background-color: #00000081;
}

body {
    line-height: 20px;
    margin: 0;
    font-size: 20px;
    font-weight: bold;
    text-align: center;
    background: #efffff;
    margin: 0 0 0;
}

h1 {
    background: #bbbbbb50;
    margin: 0 0 100 0;
}



