body {
    line-height: 20px;
    text-align: center;
    font-weight: bold;
    position: relative;
}

div {
    width: 100%;
    height: auto;
}

.box-1 {
    display: block;
    position: absolute;
    padding: 60, 60;
    background-color: aqua;
}
